*{
	margin: 5;
}
/* Section intro */
.best{
	background-image: url(../img/intro.jpg);
}
.navbar-fixed{
	color: #5e6161;
	}

.service{
	background-color: #e8f1f1;
	padding: 50px;
}
.contact{
	background-image: url(../img/intro.jpg);
    padding: 70px; 
}
.partners{
	background-image: url(../img/contact2-min.jpg);
}
.footer{
	background-color: #2e313f;
}